<!DOCTYPE html>
<html>
<body>

<h1>Index page</h1>
<p></p>
<img src="https://img.freepik.com/free-vector/invoice-concept-illustration_114360-2485.jpg" alt="Italian Trulli" width=300></img><br>
{% if user.is_authenticated %}
<h4>user details </h4>
    <p>Hi, {{user.username}}</p>
    <p>Your Mail is {{user.email}}</p>
    <h4>session details</h4>
    <p>last login {{user.last_login}}</p>
    <p>joined on{{user.date_joined}}</p><br>
    <button type="button"><a href="{% url 'logout' %}">LogOut</a></button>
    {% else %}
    <button><a href="{% url 'signup' %}">Register</a></button>
    <p>OR</p>
    <button><a href="{% url 'login' %}">LogIn</a></button>
    {% endif %}

</body>
</html>