<form method="POST" class="needs-validation" novalidate>
    {% csrf_token %}
    <input
        class="form-control"
        type="password"
        placeholder="New Password"
        name="new_password1"
        required
    >
    <div class="invalid-feedback">
        Please provide a valid Password.
    </div>
    <input
        class="form-control"
        type="password"
        placeholder="Confirm New Password"
        name="new_password2"
        required
    >
    <div class="invalid-feedback">
        Please provide a valid Password.
    </div>
    <br>
    <button class="button" name="Update Password" type="submit">Change my password</button>
    <br>
</form>