{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Password Reset</title>
    </head>
    <body>
    <h2>password reset</h2>
    <form method="post">{% csrf_token %}
        <div>
            {{ form.email.errors }}
            <label for="id_email">Email address:</label>
            {{ form.email }}
        </div>
        <input type="submit" value="Reset my password" />
    </form>

    </body>
</html>
